[2018-06-28 05:11] ivanharsono opened #5 "How to get Dialog.Input value?"

[2018-06-28 08:30] mmazzarolo commented on #5
Hey!
The `Dialog.Input` accepts all the [React-Native's TextInput](https://facebook.github.io/react-native/docs/textinput.html) props.

[2018-06-28 08:30] #5 closed

[2018-06-28 09:52] achmadk opened #6 "dynamically update Dialog.Input height when it has `multiline` and `numberOfLines` props"
Hello @mmazzarolo , I am using this library to create my company app. This library is good to use, but I have several problem when using your library. That one is `Dialog.Input` component's height still single line (40px for android) when I have set `multiline` and `numberOfLines` props. I hope this problem has solved quickly and other developers use this library for their hybrid mobile app.

[2018-06-28 09:57] achmadk opened #7 "change font color inside button when `disabled` props is set"
Hello @mmazzarolo , I am using this library to create my company app. This library is good to use, but I have several problem when using your library. The other one is font color inside `Dialog.Button` still same as default when `disabled` props is set. Although that button is non-clickable, maybe the users perceive that button is clickable. I hope this problem has solved quickly and other develop

[2018-06-28 11:37] mmazzarolo commented on #7
Hey @achmadk !
You can fix it easily by passing your own color when the button is disabled 👍

[2018-06-28 11:37] #7 closed

[2018-06-28 11:40] mmazzarolo commented on #6
Hey @achmadk !
Do you mind giving a try at submitting a PR for fixing it? 😄 Thanks!

[2018-07-06 07:15] 54vanya opened #8 "onBackdropPress prop isn't being fired"
onBackdropPress action doesn't work at all
react-native-dialog: 5.0.0
react-native: 0.55.4

[2018-07-14 15:38] zzorba opened #9 "Way to make keyboard dismiss on button press"
First of all love the library.  I'm having trouble on IOS where the buttons require two taps to click on when using a TextInput.  First tap dismisses the keyboard, the second one actually registers to the button.

It seems like there are ways to add properties to containing Views to make this not happen, but it doesn't look like there's a way to inject props into the `View` that wraps buttons in t

[2018-07-16 16:55] mmazzarolo commented on #9
Hey! Do you mind submitting a PR? :) Let me know if I can help with that

[2018-07-16 17:18] zzorba commented on #9
Will do!

[2018-07-16 22:39] zzorba commented on #9
I don't know what happened, but I can't seem to reproduce the problem anymore.  If it comes up again will try to fix it in a forked library and submit a PR.

[2018-07-16 22:40] #9 closed

[2018-07-24 17:42] sk25649 opened #11 "blurComponentIOS throws Invariant Violation: Element type is invalid"
Looks like `blurComponentIOS` expects a string but according to README, we are passing an object.

I took exact same code from README for `blurComponentIOS` and still got this error.
[code]

Is this expected? What am I doing wrong here?

[2018-07-24 18:04] mmazzarolo commented on #11
`blurComponentIOS` is indeed a `node` (a React component).... do you mind posting the complete example?

[2018-08-17 15:01] mstfymrtc opened #13 "Doesn't work with modals"
I've been trying to use react-native-dialog, also I use native Modal. But if I pass visible={this.state.isDialogVisible} prop to dialog container, it does not trigger set state method which is this.setState({isDialogVisible:true})
But if I directly pass visible={true} prop to dialog, it remains visible.

[2018-08-17 17:12] mmazzarolo commented on #13
Could you please provide an example?

[2018-08-17 19:30] mstfymrtc commented on #13
I've found workaround, actually this problem wasn't about react-native-dialog. If there is a situation which requires using multiple modals, second modal needs to be nested inside first modal. Thanks for this great component!

[2018-08-19 14:50] #13 closed

[2018-08-26 08:20] theapache64 opened #14 "onBackdropPress is not working"

[2018-08-26 08:20] theapache64 opened #15 "How to dismiss dialog on backPress pressed on android?"

[2018-08-26 08:58] mmazzarolo commented on #14
This feature is not available right now.
If you want you can expose this feature from `onBackdropPress` from `react-native-modal`.

[2018-08-26 08:58] #15 closed

[2018-08-26 09:01] theapache64 commented on #14
and how do i do that ? could you please be more specific ?

[2018-08-26 09:35] mmazzarolo commented on #14
Unfortunately I can't test it at the moment.

Seems weird 🤔 , you can see at [this line](https://github.com/mmazzarolo/react-native-dialog/blob/62b722a71c7dbb57ce627b1fa53217a22e41430d/src/Container.js#L62) that Dialog.Container accepts and spreads all the modal props.

[2018-08-26 09:36] theapache64 commented on #14
Yeah, I saw that. but it's not working unfortunately. :/

[2018-08-26 09:37] mmazzarolo commented on #14
Re-opening 👍

[2018-08-26 09:38] mmazzarolo commented on #11
Closing for inactivity.

[2018-08-26 09:38] #11 closed

[2018-08-26 09:39] mmazzarolo commented on #8
Moved #14

[2018-08-26 09:39] #8 closed

[2018-08-26 09:41] mmazzarolo commented on #14
I think what is causing this behaviour is the blur overlay swallowing the inputs.

[2018-08-31 12:21] mstfymrtc opened #16 "Setting opacity to "100%"?"
Hello, Is there any way to set opacity "100%" for Dialog.Container?

[2018-08-31 12:48] mmazzarolo commented on #16
Yes, you can pass `backdropOpacity={1}` to the `Dialog.Container`.

(It's not documented  since it's an internal `react-native-modal` prop).

[2018-08-31 12:48] #16 closed

[2018-09-03 07:27] mstfymrtc commented on #16
<img width="321" alt="screen shot 2018-09-03 at 10 26 59" src="https://user-images.githubusercontent.com/5208454/44973060-f4e3e800-af63-11e8-856a-305c82d3e3ea.png">
setting  backdropOpacity={1} causes black backround.

[2018-09-03 21:33] servocoder opened #17 "Sequential dialogs"
**Scenario:**

Two dialogs. Once the first is hidden the second one should be displayed.

**Actual behavior:**

The second dialog haven't shown. Works only with timeout 500ms or more

**Example:**

[code]

[2018-09-03 21:39] servocoder commented on #14
Not working as well. Any update?

[2018-09-04 07:48] mmazzarolo commented on #17
Hey!
Please try showing the second dialog in the `onModalHide` callback of `Dialog.Container`. For more info please check the react-native-modal component.

[2018-09-04 11:17] servocoder commented on #17
`onModalHide` works well, thanks for the clue!

[2018-09-04 11:17] #17 closed

[2018-09-04 11:39] servocoder commented on #14
I found the root of the issue. You have to remove `flex` styling from [this line](https://github.com/mmazzarolo/react-native-dialog/blob/master/src/Container.js#L100). So the final `container` styling should looks like:

[code]

This fix deserves a new release ;)

[2018-09-07 07:57] servocoder commented on #14
Any chance to get this fix included into the next release?

[2018-09-07 09:39] mmazzarolo commented on #14
Does the backdrop show up normally with the change? Would you submit a PR? Thanks!

[2018-09-27 09:20] vasyl91 opened #19 "Displaying over the lock screen"
Is there any way to do that? Would appreciate any help.

[2018-09-27 09:35] mmazzarolo commented on #19
Hey @vasyl91 , can you expand a bit what you mean by "Displaying over the lock screen"?
The dialog is a JS implementation of the native dialog so it can only be shown when the app is running (in the foreground).

[2018-10-01 13:33] intergalactic-overlords opened #22 "the dialog is transparent."
The dialog is transparent (and the native one is not...), which looks very messy. There should at least be an option to turn the transparency off.
![simulator screen shot - iphone xr - 2018-10-01 at 15 30 56](https://user-images.githubusercontent.com/2363710/46291660-59a85780-c58f-11e8-8589-814956e085b8.png)
![simulator screen shot - iphone xr - 2018-10-01 at 15 30 02](https://user-images.githubus

[2018-10-01 14:52] mmazzarolo commented on #22
Please see the last comment in PR #21
Could you give it a test so that than I can submit a new release on npm?

[2018-10-01 14:52] mmazzarolo commented on #19
Closing.

[2018-10-01 14:52] #19 closed

[2018-10-02 18:55] TimurAsayonok opened #23 "TextInput label style mistakes"
I have played with your lib during my free time for watching what we can use for our application, and I have found small style mistake with label into TextInput component.

So, problem is that you put `Text` component with `label` into `View` with `textInputWrapper` styles that means that label will be shown inside text input - like on images (iOS):
![screen shot 2018-10-02 at 20 05 35](https://us

[2018-10-02 19:03] mmazzarolo commented on #23
Hey @TimurAsayonok ! Thanks for starting a discussion :)
One question: why do you want to supply the label to iOS?
Following the design guidelines of both alert I think that we should use the placeholder on iOS and the label on Android... am I wrong? 🤔

[2018-10-02 19:13] TimurAsayonok commented on #23
Hey @mmazzarolo, I don't use label to iOS in my project =), I just have checked props which you mention in readme. And I think that if you want to use label only for android you should add text that this props only for android) Because if we use label as placeholder for iOS it will be wrong and we will get result as I have sent. Because for placeholder we can use placeholder props in default TextI

[2018-10-03 07:58] indapublic commented on #22
@mmazzarolo Confirmed.

Previous:
![screen shot 2018-10-03 at 17 57 21](https://user-images.githubusercontent.com/856260/46397558-dc6b1700-c735-11e8-9141-0794d4049bdd.png)

With your latest changes:
![screen shot 2018-10-03 at 17 56 50](https://user-images.githubusercontent.com/856260/46397569-e1c86180-c735-11e8-9fda-6ebf815ba4d0.png)

[2018-10-03 08:13] intergalactic-overlords commented on #22
@mmazzarolo I have tested and can confirm it works. Great job guys.

[2018-10-03 09:06] mmazzarolo commented on #23
@TimurAsayonok I agree, that's my fault.
I haven't worked a lot on this library after its first release (it's being used in two production apps I developed long time ago) so suggestions are more than welcome.
Since I'd like to match as close as possible the iOS/Android dialog design guidelines, should we just disable the `label` when on iOS (in the `DialogInput`)? What do you think?

[2018-10-03 09:10] mmazzarolo commented on #22
Thanks @indapublic and @intergalactic-overlords , publishing on npm right now :)

[2018-10-03 09:16] HighSoftWare96 opened #24 "Probable bug with Alert.alert"
Is it possible that calling Alert.alert(...) after closing the Dialog freezes the app logic?
These the open/close logic functions:
[code]

Here the Dialog:
[code]
Here the function called by the dialog success button:
[code]
Inside requestOpenDoorHttp() there are some calls to Alert.alert that disappears istantly on Ios and then the app freezes.

[2018-10-03 09:16] mmazzarolo commented on #22
Landed on [v5.4.0](https://github.com/mmazzarolo/react-native-dialog/releases/tag/v5.4.0)

[2018-10-03 09:16] #22 closed

[2018-10-03 09:43] TimurAsayonok commented on #23
I tried to find information about `label` for text input in the iOS design guidelines (alert and text field) and didn't find anything about it =)

I think if we disable `lable` for iOS and update the README, it will be ok

[2018-10-03 09:44] HighSoftWare96 commented on #24
Thanks a lot for the reply. I've quickly solved the issue adding some latency to the function that uses Alerts in this way:
[code]
Not the best way but working.

[2018-10-03 09:51] mmazzarolo commented on #24
Yes, that's basically the same, you'll wait for the exit animation to complete (350ms are more then enough).

[2018-10-03 09:51] #24 closed

[2018-11-21 19:44] gianpaj commented on #14
Thanks for the fix @fjmorant 👏

The PR https://github.com/mmazzarolo/react-native-dialog/pull/26 is waiting to be merged. I've tested it by changing the `Container.js` file manually from the `node_modules` folder.

[2018-11-29 21:34] mateusz- opened #27 "Calling TextInput methods?"
Hi,

How can I call TextInput methods (blur / focus / update) using Dialog.Input references? Not possible currently, correct?

In my case, I am trying to call focus() from another input element:
[code]

[2018-11-29 21:52] mateusz- commented on #27
The solution is to use textInputRef property.

Doesn't seem to be documented in the README.md at this moment.

[2018-11-29 21:52] #27 closed

[2018-12-05 17:20] hteiktinoo opened #29 "How do I auto focus on TextInput when open?"
textInputRef={ i => this.input = i  }
will give me undefined

[2018-12-05 17:40] mmazzarolo commented on #29
https://github.com/mmazzarolo/react-native-dialog/issues/27

I know, I have to work on the docs :/ I don't have any free time for that though...

[2018-12-05 17:43] mmazzarolo commented on #29
Wait, do you mean that adding the `textInputRef` to the DialogTextInput component didn't work?

[2018-12-05 17:55] #29 closed

[2018-12-06 01:54] hteiktinoo commented on #29
You’re right. Using my code above, I couldn’t set this.input.focus() in a button onClick

[2018-12-06 08:57] mmazzarolo commented on #29
could you please share the entire snipper/code?

[2018-12-06 09:07] hteiktinoo commented on #29
Here're it is

`onAdd = () => {`
`this.setState({ modalOpen: true })`
**`console.log(this.input) // undefined`**
**`this.input.focus() // not working`**
`}`
`render(){`
`return(`
`<View>`
`<TouchableOpacity onPress={this.onAdd} >`
`<Text>Add New Text</Text>`
`</TouchableOpacity>`
`<Dialog.Container visible={modalOpen}>`
  `          <Dialog.Title>Title</Dialog.Title>`
   `         <Dialog.Input va

[2018-12-06 09:33] hteiktinoo commented on #29
autoFocus={true} works perfectly. Thanks!

[2018-12-09 01:53] emmx opened #30 "Way too long delay to show/hide?"
Is it only on my phone or it does take long (~2 seconds) to show and hide?

I was expecting it to behave pretty much like ReactNative's Alert in terms of performance but with this delay I can't use it. Any workaround or way to improve it?

[2018-12-09 07:47] mmazzarolo commented on #30
Hey! It shouldn’t have any lag.
Try playing around with it with a minimal example (like in the one from the README) and I’d the issue persist could you open a new issue report (by making sure follow to the template)?

[2018-12-09 07:47] #30 closed

[2018-12-20 06:58] achmadk opened #31 "TypeError: Requested keys of a value that is not an object in android release"
I use this library to show popup with input and actions. When in android debug mode, that popup successfully displayed. Unfortunately, when in android release mode, that popup didn't show then app crashed. I use react-navigation v3 too.

[2018-12-20 08:41] mmazzarolo commented on #31
Hi! Could you please share the code that is crashing the app in a reproducible way? Thank you

[2018-12-20 08:42] #14 closed

[2019-01-24 13:31] philipaarseth opened #32 "Flashing on exit"
Hi,

When I dismiss the dialog the dark background low opacity layer flashes quickly twice before disappearing.
Has anyone noticed this?

[2019-01-24 13:41] mmazzarolo commented on #32
🤔 any additional info/video? what device are you using? are you in development mode? release?

[2019-01-24 13:42] #31 closed

[2019-01-24 13:45] philipaarseth commented on #32
![screen recording 2019-01-24 at 14 42 23](https://user-images.githubusercontent.com/31098164/51681981-8670f680-1fe6-11e9-9d45-ecfe67b88b45.gif)
iOS simulator on MacOS. in dev mode.
"react-native": "0.57.8",
"react-native-dialog": "^5.5.0",

[2019-01-24 14:12] mmazzarolo commented on #32
That's weird, it shouldn't happen 🤔
Are you updating the state in the callback?
Also, could you check if just using the "Complete example" in the README.md still do the same flashing?

[2019-01-24 14:24] mmazzarolo commented on #32
will check

[2019-01-24 19:55] franck-nadeau commented on #5
In other words, something like this will work.

       <Dialog.Input
          onChangeText={text => this.setState({ text })}
        />

[2019-01-29 21:07] philipaarseth commented on #32
Did you figure it out @mmazzarolo ?

[2019-01-30 12:02] mmazzarolo commented on #32
Nope, sorry, haven't had a chance to check yet :/ pretty busy these weeks

[2019-02-07 18:54] LondonJammo opened #34 "Dialog variables in Description"
Per docs, you use static text inside the elements:

[code]

However, if I want to change this text by setting it later, I use a variable:

`<Dialog.Description> { this.description } </Dialog.Description>`

The value changes correctly, but but I get a warning in the emulator:

`Warning: Failed prop type: Invalid prop 'children' of type 'array' supplied to 'DialogDescription', expected 'string'`

[2019-02-08 00:14] LondonJammo commented on #32
Same for me

[2019-02-08 09:40] mmazzarolo commented on #32
I can reproduce it. Checking.

[2019-02-08 09:43] mmazzarolo commented on #34
@LondonJammo could you share your code?
Are you sure you're not supplying an array instead of the description? (e.g.: by doing a check like `this.list && this.description`?)

This is working fine for me:

[code]

[2019-02-08 09:53] mmazzarolo commented on #32
@LondonJammo @philipaarseth could you try setting the `useNativeDriver` prop to `true` in `Dialog.Container`?
Seems to solve the issue for me:

[code]

[2019-02-08 10:13] LondonJammo commented on #32
This solves the flicker/flash. There is still a small cosmetic issue though:
On closing:
- the dialog content fades away
- the dialog border remains briefly, and then fades away.
- this shows a hollow transparent box over the underlying content.

[2019-02-08 10:22] LondonJammo opened #35 "Dialog buttons shorter caption on device only"
The Dialog buttons (Cancel, Save) have their Label clipped on the device only. On the emulator they appear correct. I don't have any extra styling on these elements, just out the box.

Android device OP5t
Android 9
Oxygen 9.0.3

![screenshot_20190208-100727__01](https://user-images.githubusercontent.com/3718237/52472436-2c963200-2b8b-11e9-8aa4-acfc5de11bd3.jpg)

[2019-02-08 11:01] mmazzarolo commented on #32
Mind showing a video/GIF?

[2019-02-10 23:06] LondonJammo opened #36 "Dialog.input value="ABC" locks the field"
Dialog.input, when using Label="ABC" this adds an extra text field which acts as a heading/title for the input.

These days in UX, users are more used to the input field itself being prefilled with a value which acts like a title, such as Name or Email

When setting dialog.input value="ABC" this does just that. However, it also locks the field making it impossible to change its value.

[2019-02-10 23:08] LondonJammo commented on #34
Thanks for your reply. The issue seems to have fixed itself as the message no longer appears. Not sure what caused it, as I can't replicate the error anymore.

[2019-02-11 10:04] #34 closed

[2019-02-11 10:28] mmazzarolo commented on #36
@LondonJammo Not sure I'm following you.

`Dialog.Input` is just a RN Input, so you can simply use the `placeholder` field for that.

That's the correct behaviour: `Dialog.Input` is a controlled component (like the RN Input) so you'll be responsible of keeping the input value in the state.

Let me know if I'm missing anything! 👍

[2019-02-11 10:28] #36 closed

[2019-02-13 11:14] wiwat-tharateeraparb opened #37 "Dialog iOS button opacity when pressed not same as native"
Using `Dialog.Button` component
<img width="231" alt="screen shot 2019-02-13 at 18 09 11" src="https://user-images.githubusercontent.com/3415706/52707653-bfcfcd00-2fba-11e9-853d-1bee90535662.png">

Compared with native `Alert.alert` button
<img width="237" alt="screen shot 2019-02-13 at 18 09 45" src="https://user-images.githubusercontent.com/3415706/52707661-c6f6db00-2fba-11e9-839a-4d662bec29bb.p

[2019-02-13 12:00] mmazzarolo commented on #37
@wiwat-tharateeraparb that's a good catch.
Mind [trying to improve it](https://github.com/mmazzarolo/react-native-dialog/blob/master/src/Button.js)?
Let me know if I/how can help.

[2019-02-14 07:12] wiwat-tharateeraparb commented on #37
@mmazzarolo I guess Button.js has to use `<TouchableHightlight>` instead of `<TouchableOpacity>`. Will figure it out.

[2019-03-04 21:43] naytun opened #38 "Dialogue Buttons are covered by Keyboard"
Hi @mmazzarolo, I like the versatility of  your component! There's one minor UX issue. Can we position the dialogue box so that the buttons are not covered by keyboard? Thanks.

![simulator screen shot - iphone x - 2019-03-04 at 16 48 56](https://user-images.githubusercontent.com/10265410/53765293-990c0480-3e9d-11e9-9d83-25f8b765bc69.png)

[2019-03-04 21:55] naytun commented on #38
I found a way to do that, in case somebody have the same issue.
[code]

[2019-03-05 15:19] mmazzarolo commented on #38
Also setting `avoidKeyboard={true}` in the `Dialog.Container` should work.
`avoidKeyboard` is a [react-native-modal](https://github.com/react-native-community/react-native-modal) prop.
Glad you fixed it btw :)

[2019-03-05 15:19] #38 closed

[2019-03-13 11:22] forki commented on #27
please reopen - this should be documented

[2019-03-13 11:23] forki commented on #5
please document in readme

[2019-03-13 11:34] mmazzarolo commented on #5
I'm open to PRs 👍

[2019-03-13 11:35] mmazzarolo commented on #27
@forki I'm open to PRs 👍

[2019-03-13 11:36] #32 closed

[2019-03-17 16:03] jdhiro opened #39 "Dialog causes screen to flip when device is in upside down portrait orientation"
I have an app running in a device that's mounted upside down (so that wires are concealed). The app runs fine upside down, until react-native-dialog is displayed, and then it flips the app back to normal orientation until it is dismissed.

I'm investigating, as I don't see much in the react-native-dialog code that I'd expect to do this.

[2019-03-17 16:16] jdhiro commented on #39
This seems to be because "portrait" and "landscape" are the defaults in react-native-modal. That component should support all defaults out of the box.

https://github.com/react-native-community/react-native-modal/blob/92ed191ed8e673ef3d511f995fe37cdf497ad2db/src/index.js#L94

[2019-03-17 16:16] #39 closed

[2019-03-26 12:19] diego-antonelli opened #41 "Version not published"
PR was merged (https://github.com/mmazzarolo/react-native-dialog/pull/40) but not published in NPM. Please publish as soon as you can :)

[2019-03-26 12:47] mmazzarolo commented on #41
I won't be available to publish it until this weekend, could you use the `master` branch in your package in the meanwhile?

[2019-03-26 12:52] diego-antonelli commented on #41
No problem, thanks a lot for your attention

[2019-03-27 11:06] murtraja opened #43 "React native web support"
This is an awesome library, but it lacks support for web. More specifically
  1. It doesn't have styling for web
  2. It crashes the web app as react-native-modal is not supported on web

#42 tries to fix 1. and provides config necessary for 2.

[2019-03-27 11:28] murtraja commented on #43
The error is:
[code]

[2019-03-30 20:32] mmazzarolo commented on #41
@diego-antonelli published in [`v5.6.0`](https://github.com/mmazzarolo/react-native-dialog/releases/tag/v5.6.0)

[2019-03-30 20:32] #41 closed

[2019-03-30 20:32] mmazzarolo commented on #43
@diego-antonelli published in [`v5.6.0`](https://github.com/mmazzarolo/react-native-dialog/releases/tag/v5.6.0)

[2019-03-30 20:32] #43 closed

[2019-04-03 20:01] banalola opened #45 "android onkeydown is disabled when the dialog is up with a focus on dialog.input"

[2019-04-04 08:51] #45 closed

[2019-04-06 20:31] AlexMachin1997 opened #46 "QUESTION: How does dialog.input work ?"
Hi,

I'm very interested in your library for a popup modal which accepts inputs and dialogue messages.

However, I'm a little confused about the input. How exactly would it work? Could you provide a small example?

Cheers,
Alex

[2019-04-06 21:38] mmazzarolo commented on #46
Hey @AlexMachin1997 , you're right, the docs are not good 😞
The `Dialog.Input` component accepts all the  React-Native's `TextInput` component props, so you can use it just like a standard TextInput (by keeping its text in the state).

[2019-04-06 21:38] #46 closed

[2019-04-06 22:16] AlexMachin1997 commented on #46
Ah ok.

So when using Dialog.Input it renders an input, you would just need to mention that Dialog.Input inherits all the props from TextInput.

Thanks for answering my question quickly :)

[2019-04-06 22:21] mmazzarolo commented on #46
Yup, done :)

[2019-05-03 06:59] cbril commented on #34
I experienced the same issue.

This gives the warning:
`<Dialog.Description>Are you sure you want to delete {item}?</Dialog.Description>`

Removed the warning by doing this:
[code]

LondonJammo probably removed the spaces surrounding the curly braces. It would be nice to have a fix for this.

[2019-05-03 07:14] mmazzarolo commented on #34
@cbril it's probably an issue with the variable interpolation when passed down to a child.
Since moving it into a variable seems to fix the issue I think adding this bit in the README.md could be enough.
Open to PR

[2019-05-13 12:08] indapublic opened #47 "Place 3 buttons vertically"
Is it possible place three buttons vertically (like Alert.alert)?

[2019-05-13 14:04] mmazzarolo commented on #47
@indapublic not yet... it's in the [TODO](https://github.com/mmazzarolo/react-native-dialog#todo) section of the README but I don't think I'll be able to look into it soon.
Open to PRs!

[2019-05-14 11:21] AndreySevcenko opened #48 "Container visible Doesn't work when click"
A complete example's codes doesn't work in the README.

Firstly `dialogVisible : false ` is to loading,  i clicked on the TouchableOpacity in order to get `dialogVisible : true`, but doesnt work and i cant see modal.

But Firstly `dialogVisible : true` is to loading, is succes , is worked ,also i clicked in order to get `dialogVisible : false` , is closed to modal  no problem but after i clicked w

[2019-06-12 08:53] admiralicic commented on #32
Hi, has anybody found a solution to the above issue described by @LondonJammo ?

[2019-06-12 09:56] Akrobatik opened #50 "Android dialog design"

[2019-06-12 09:56] #50 closed

[2019-06-12 10:01] Akrobatik opened #51 "Android dialog design bug?"
I followed your example code:
<Dialog.Container visible={this.state.dialogVisible}>
<Dialog.Title>Account delete</Dialog.Title>
<Dialog.Description>
    Do you want to delete this account? You cannot undo this action.
</Dialog.Description>
<Dialog.Input onChangeText={(note) => this.setState({ dialogText: note })}/>
<Dialog.Button label="Cancel" />
<Dialog.Button label="Send" />
</Dialog.Container>

[2019-06-14 08:22] Akrobatik commented on #51
I fixed it by giving the input a boarder and background color for android only
I also fixed the truncated text on the positive and negative buttons on android, it seems that there is a bug with React Native, a temporary hack is to add [space] after the text i.e. "Cancel " will render Cancel.

[2019-06-14 08:22] #51 closed

[2019-06-26 18:13] oreshkoandrei commented on #48
any update on this ?

[2019-06-27 00:00] brien-crean commented on #48
I have the same issue. Changing state doesn't show the dialog.
I just implemented a simple hack to get it to display.

`_renderRenameDialog() {
    return this.state.dialogVisible ? (
      <Dialog.Container visible={true}>
        <Dialog.Title>Rename Item</Dialog.Title>
        <Dialog.Input
          placeholder={this.state.name}
          onChangeText={this.handleTextChange}
        />

[2019-06-27 09:37] mmazzarolo commented on #48
🤔 what version of RN are you using? This sounds strange, this component hasn't been updated in a while...

[2019-06-27 18:07] brien-crean commented on #48
I'm running version 0.53 which is quite old. We are pinned to it for a little while unfortunately.

I just created two projects with react-native init. One at v0.53 and one at the latest (0.59.9). It has the same issue on 0.53 but works fine on 0.59.9!

[2019-06-27 19:05] mmazzarolo commented on #48
Ouch :( Thanks for testing it on the latest version. Not sure what could be causing the issue here... maybe that version of RN has an issue with the modal used underneath?

[2019-07-11 08:05] dykra opened #53 "[Android] Dialog hides system bar"
After rendering dialog, system bar is hidden with the white background.

![Screenshot 2019-07-11 at 09 29 45](https://user-images.githubusercontent.com/23487423/61031840-93c94400-a3c0-11e9-9ad2-67e6fe69e897.png)

While the time and notifications should be visible like with the use of system alert:
![Screenshot 2019-07-11 at 10 04 36](https://user-images.githubusercontent.com/23487423/61033238-5450

[2019-07-11 08:32] mmazzarolo commented on #53
👋 Unfortunately this is a React-Native issue with its internal Modal, more info [here](https://github.com/react-native-community/react-native-modal#the-statusbar-style-changes-when-the-modal-shows-up)

[2019-07-11 08:32] #53 closed

[2019-07-11 10:22] DVPJV opened #54 "How to change color of Dialog.Description"
I would like change color of Dialog.Description.
How can I make it? Please

[2019-07-11 11:09] DVPJV opened #55 "How to change postion of buttons"
I would like change postion of buttons

[2019-07-12 07:45] mmazzarolo commented on #54
You can pass your own `style` to the `Dialog.Description` component: https://github.com/mmazzarolo/react-native-dialog/blob/0c22bf0f92936e6d2472fa18d6ae457eabd1ba26/src/Description.js#L17

[2019-07-12 07:45] #54 closed

[2019-07-12 07:46] mmazzarolo commented on #55
Not supported right now, sorry :/

[2019-07-12 07:46] #55 closed

[2019-07-12 12:58] gopikasireddy202 opened #56 "Dial"

[2019-07-12 13:48] #56 closed

[2019-07-12 20:22] brien-crean commented on #48
Yeah probably. I'm also seeing other issues related to Modals causing weird crashes on that RN version so I'm upgrading!

[2019-07-29 02:59] yeong0809 opened #58 "contentStyle for Dialog.Container"
ContentStyle seem like not working fine for iOS side and it is working in Android. When I try to change the background color for the Container. The backgroundColor is not affecting on the background color.

Screenshot
![Screenshot 2019-07-29 at 10 56 25 AM](https://user-images.githubusercontent.com/31876283/62019049-c14f2380-b1ef-11e9-9e6e-7d7401d0624d.png)

Code:
`<Dialog.Container contentStyle={

[2019-08-20 08:03] lylest commented on #48
yeah am facing the same problem the modal doesn't show when you change the state I copied  all codes from official documentation

[2019-08-20 09:16] mmazzarolo commented on #48
@lylest on what version of RN are you?

[2019-08-20 09:16] mmazzarolo commented on #48
@lylest on what version of RN are you?

[2019-08-20 09:28] lylest commented on #48
I am using expo

  "dependencies": {
    "expo": "^34.0.1",
    "expo-file-system": "~6.0.0",
    "expo-image-picker": "~6.0.0",
    "expo-permissions": "~6.0.0",
    "expo-sharing": "~6.0.0",
    "firebase": "^6.3.5",
    "react": "16.8.3",
    "react-dom": "^16.8.6",
    "react-native": "https://github.com/expo/react-native/archive/sdk-34.0.0.tar.gz",
    "react-native-dialog": "^5.6.0",
    "re

[2019-08-20 22:13] gugakatsi opened #59 "is it possible to move react-native-modal as peer-dependency"

[2019-08-21 09:32] mmazzarolo commented on #59
Doable, mind sending a PR?

[2019-08-21 11:54] gugakatsi commented on #59
@mmazzarolo can do on friday

[2019-09-19 17:12] grazianospinelli opened #60 "Can I use an image inside the title or the description ?"
Can I use an image inside the Title or the Description ?

[2019-09-21 17:09] mmazzarolo commented on #60
Hey @grazianospinelli , `Title` and `Description` only accept a text value.

[2019-09-21 17:09] #60 closed

[2019-10-01 12:42] Desteel commented on #47
Hello.
Any news on this request?

[2019-10-02 06:40] Desteel commented on #47
You can use this
[code]

and
[code]

I did not display more than three buttons as unnecessary, but you can use the height and count of buttons for this.

[2019-10-02 08:00] Desteel commented on #58
In iOs you need use this
[code]

but this prop is not in types for this library and if you use typescript you need to add them.

[2019-10-10 17:35] ironhide0396 commented on #35
Facing the exact same issue , any help will be appreciated.

[2019-10-21 10:35] Katariaa commented on #35
Any updates of this? Did you fix it @LondonJammo ?

[2019-10-21 15:45] Daimension commented on #59
+1, need this feature too

[2019-10-21 20:50] gugakatsi commented on #59
@Daimension try it out: npm i https://github.com/gugakatsi/react-native-dialog

[2019-10-23 16:06] #59 closed

[2019-11-10 00:03] tmikeschu commented on #30
@emmx did you find a solution? I am experiencing the same behavior, even with the most basic example from the docs.

[2019-11-27 07:57] r1ckyrockz opened #63 "[BUG]: Autofocus for Dialog.Input component"
I noticed a timing issue on android devices, if the component `<Dialog.Input />` got the property autofocus, the keyboard doesn't appear always. Sometimes it works, but after clicking twice, the keyboard is not shown.

Code Example:
[code]

Extra Note:
I wrapped the `Dialog.Container` into a FC Component and exported it with memo. But to remove the memo, didn't take any effect to the problem.

[co

[2019-11-28 18:44] ivosousaa opened #64 "Dialog doesn't show on iOS, but it does block the view"
So I've got it working fine in Android, but in iOS for some reason it isn't showing, but when visible is set to true it does block the View, as it was there or something.
Tested on iOS 13 on an iphone 7 and in a 11 pro max.
Using RN 0.6 and package version 5.6.0;

Any help would be great.

[2019-12-01 23:30] Gra55h0pper commented on #37
@wiwat-tharateeraparb Were you able to figure out the solution for this? If so, please post.

[2019-12-02 15:05] wiwat-tharateeraparb commented on #37
@Gra55h0pper We had design change and ended up not using this library anymore.

[2019-12-03 10:04] ivosousaa commented on #64
Fixed it, following this thread:
https://github.com/facebook/react-native/issues/10471
Added a timeout on ios.

[2019-12-03 10:04] #64 closed

[2019-12-05 23:27] CapitanRedBeard opened #65 "iOS 13 Dark mode Inputs contain invisible text"
It seems when the user has Dark mode enabled on iOS 13 the input contains invisible text. I haven't looked into why yet or a fix just thought I'd post here first since I couldn't find the issue reported yet.

![image](https://user-images.githubusercontent.com/5445860/70282775-c14dca00-1773-11ea-816b-d557966b7129.png)

[2019-12-05 23:34] CapitanRedBeard commented on #65
### Solution

Explicitly set the color of the Input via the TextInput props like so:

[code]

[2019-12-05 23:34] #65 closed

[2020-01-31 04:32] amit13091992 commented on #60
@mmazzarolo
How can I use Image in Dialog container?

[2020-03-04 09:43] kasback opened #66 "The onModalShow method is not working"
Hello and thank you for the awesome component.

Im trying to execute some code when the dialog shows up, unfortunatelly the componentDidMount is not called on the dialog toggle nor the onModalShow method.

Is there a method which i can use to execute my code when the dialog opens?

Thanks again.

[2020-03-04 09:52] kasback commented on #66
the  `onModalShow` does actually work, the problem was that i was not passing the `onModalShow` as a prop to the ` Dialog.Container`. so it should look something like this :
[code]

My bad.

[2020-03-04 09:52] #66 closed

[2020-06-16 02:26] zaptrem opened #67 "New Maintainer Post Here?"
If someone decides to fork and maintain this repo can you post here? That way I and anyone else using it can switch.

[2020-07-23 08:15] xiaohui-gsv opened #69 "is there a way to show a image on the top of title?"
is there a way to show a image on the top of title?
just like successful logo, error logo on top of the title.

[2020-08-25 23:53] AmirF194 opened #70 "Can't Open a Dialog after immediately close previous one"
I created a dialog with Dialog.Input Using setstate to get a password from user. if the password  was correct the first dialog should close, then another one which also has a Dialog.Input should appear.( by updating state values false/true).
Everything on android works like a charm but on ios i got this warning :
Warning: Attempt to present <RCTModalHostViewController: 0x....> on <UIViewController

[2020-08-29 07:21] kushal98 opened #71 "TypeError: undefined is not an object (evaluating 'child.type.name')"
Hey,
Getting this issue any idea what it might be?

Thanks

[2020-09-16 15:52] tyxou opened #72 "check refactor for any objections"
First, thanks for a great module!
Due to the upcoming deprecation of the `class` component I decided to refactor into functions / Hooks.
Considering the positive updates in `Modal` within `react-native` I decided to remove `react-native-modal` and use the native one instead.
Whenever convenient, please check the below repo for any objections (possibly within the markdown file) and I would be happy

[2020-09-17 07:55] mmazzarolo commented on #72
I can't try it now but code looks good to me 👍 (and I also like the modal change)
If you want to submit a PR as it is I can test it in the weekend.

[2020-09-17 07:55] mmazzarolo commented on #72
(and thanks!)

[2020-10-05 14:33] RRMoelker commented on #70
Same problem here on iOS.

I managed to work around it by setting the visibility of second modal using `onModalHide` on the first modal.

So something like:

[code]

[2020-10-11 09:22] mmazzarolo commented on #72
Closing as per #73 . FYI I added a thank you not for you at the bottom of the README.md 👍

[2020-10-11 09:22] #72 closed

[2020-10-11 09:22] mmazzarolo commented on #71
👋 I'm closing this issue because I just did a complete refactoring of `react-native-dialog`. Feel free to open a new one if the issue is still there.

[2020-10-11 09:22] #71 closed

[2020-10-11 09:24] mmazzarolo commented on #70
👋 I'm closing this issue because I just did a complete refactoring of `react-native-dialog`.
FYI, @RRMoelker you solution is the correct one. `onModalHide` is not `onHide`.

[2020-10-11 09:24] #70 closed

[2020-10-11 09:24] mmazzarolo commented on #69
No way to do it now, but you can still create your own component looking at the title one and add your image there 👍

[2020-10-11 09:24] #69 closed

[2020-10-11 09:25] mmazzarolo commented on #67
@zaptrem I think I have some time to dedicate to the repo now (at least for looking into PR and support 👍

[2020-10-11 09:25] #67 closed

[2020-10-11 09:26] mmazzarolo commented on #48
👋 I'm closing this issue because I just did a complete refactoring of `react-native-dialog`. Feel free to open a new one if the issue is still there.

[2020-10-11 09:26] #48 closed

[2020-10-11 09:29] mmazzarolo commented on #58
👋 I'm closing this issue because I just did a complete refactoring of `react-native-dialog`. Feel free to open a new one if the issue is still there.

[2020-10-11 09:29] #58 closed

[2020-10-11 09:30] mmazzarolo commented on #63
👋 I'm closing this issue because I just did a complete refactoring of `react-native-dialog`. Feel free to open a new one if the issue is still there.

[2020-10-11 09:30] #63 closed

[2020-10-11 09:30] #23 closed

[2020-10-11 09:30] mmazzarolo commented on #35
👋 I'm closing this issue because I just did a complete refactoring of `react-native-dialog`. Feel free to open a new one if the issue is still there.

[2020-10-11 09:30] #35 closed

[2020-10-11 09:31] mmazzarolo opened #74 "Move the codebase to TypeScript"

[2020-10-11 09:32] mmazzarolo opened #75 "Add TypeScript type definitions"

[2020-10-11 09:32] mmazzarolo opened #76 "Dark-mode support"
- Abstract the style colors into light/dark mode
- Pick the right style colors based on the currently selected mode

[2020-10-11 09:52] github-actions[bot] opened #78 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-10-11 09:54] #78 closed

[2020-10-12 00:07] adanielyan opened #79 "How do I get the value of the Input field?"
I have a dialog with Dialog.Input field. I need to read the value of that input in my Dialog.Button's onPress function. What's the right way to do it?

[2020-10-12 07:44] mmazzarolo commented on #79
👋 @adanielyan
you should control the Dialog.Input value in your own component like this:
[code]

[2020-10-12 07:44] #79 closed

[2020-10-13 07:02] Thitiwut commented on #76
I will work on this issue.
Could you add hacktoberfest tag on this I will working on your issue.  👍

[2020-10-13 21:01] juniorlp123 commented on #32
Any update on this? Same is happening to me

[2020-10-14 12:34] juniorlp123 commented on #32
I've found the solution! Just add `renderToHardwareTextureAndroid={true}` to `<AnimatedModal/>` in Container.js

[2020-10-16 09:16] Prozhou commented on #76
Watch on this feature.

[2020-10-16 16:26] ShivamJoker commented on #75
will definitely try to add cause not getting any autocomplete

[2020-10-24 19:22] mmazzarolo commented on #75
I think supporting these https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native-dialog/index.d.ts could be a good starting point

[2020-11-23 22:50] novonimo opened #87 "force keyboard open after dialog input"
How to force the keyboard to open after a dialog box with input is shown?

I have searched it on StackOverflow and elsewhere but nothing will work,

some solutions like **inputRef.focus()** were mentioned there but not working. please help me.

[2020-12-04 16:55] mattrabe commented on #87
From #29:

[2020-12-15 07:52] EhsanSarshar opened #89 "weird shadow when hiding dialog"
![2020-12-15 12 22 06](https://user-images.githubusercontent.com/46188784/102186428-3ea43280-3ed0-11eb-9425-a9be94f6fedc.jpg)

[2020-12-15 07:53] mmazzarolo commented on #89
Please follow the issue template, thank you.

[2020-12-15 07:53] #89 closed

[2020-12-22 15:20] athar-expando opened #90 "Black background while hiding the dialog on android"
## Environment

System:
    OS: macOS 11.1
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Memory: 54.10 MB / 8.00 GB
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 14.12.0 - /usr/local/bin/node
    Yarn: 1.22.5 - /usr/local/bin/yarn
    npm: 6.14.8 - /usr/local/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/watchman
  SDKs:
    iOS SDK:
      Platforms: iOS 14.3, DriverKit 20.2,

[2020-12-22 15:34] #90 closed

[2020-12-23 06:51] athar-expando commented on #90
is it solved ?

[2020-12-27 17:43] ShivamJoker commented on #38
It doesn't seem to be working as of now. Can you please take a look ?

[2020-12-28 07:16] blueberry6401 opened #91 "Support of avoidKeyboard?"
## Ask your Question

As the removing of react-native-modal, the avoidKeyboard not working anymore. Is there any plan to make this works again?

[2020-12-29 09:23] dapicester commented on #76
Have a look at the [`PlatformColor` API](https://reactnative.dev/docs/platformcolor), I think the library should use those colors instead of hardcoding black and white.

[2021-01-01 11:34] athar-expando commented on #90
why closed ? not solved yet waitingggg

[2021-01-25 21:55] warrenseine commented on #75
I've added Switch to the typings: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50830

[2021-03-13 05:45] productfrontenddeveloper commented on #74
Hello, thanks in advance. I'm looking forward to this current attention.

[2021-03-17 09:03] exotexot opened #94 "Please add prop to disable animation"
I like the component. But don't like its animation behaviour. It would be nice to pass an animationConfig prop to the component, allowing for the option to completely disable it.

[2021-03-17 09:22] mmazzarolo commented on #94
Hi Exotexot! The goal of this library is to achieve a native look and feel.
At the current state, we're not looking into increasing the customization options — but if you think the new animation would look more "native", feel free to send a pull-request!

[2021-03-17 09:22] #94 closed

[2021-03-17 09:24] mmazzarolo commented on #91
Isn't https://github.com/mmazzarolo/react-native-dialog/pull/93 fixing your issue?
We do support KeyboardAvoidView... if it doesn't work, there might be a bug :)

[2021-03-17 19:29] lightningmce commented on #91
Does it have a solution for Android?

[2021-03-18 16:40] JohnnyJamesNavarro opened #95 "Changing backgroundColor on iOS?"
## Ask your Question

Is it not possible to change the backgroundColor on iOS? It works perfectly on Android, but nothing happens on iOS.

Example Code:

`      contentStyle={{
        backgroundColor: "blue"
      }}
`

[There was an issue on this before](https://github.com/mmazzarolo/react-native-dialog/issues/58), but it was closed arguing that the package was refactored. Still doesn't seem to

[2021-03-18 16:45] JohnnyJamesNavarro commented on #95
It seems passing something to the `blurComponentIOS` makes it work even if the component is empty.

Example:

`contentStyle={{ backgroundColor: "blue" }} blurComponentIOS={<View></View>}`

Don't know if this is the intended behavior but it solved the problem in my case.

[2021-03-18 16:45] #95 closed

[2021-03-18 20:41] nephix commented on #76
Also looking forward to this

[2021-03-22 20:11] BaderSerhan commented on #30
Me too.

[2021-03-24 11:14] exotexot commented on #91
Why is this even optional?
Shouldn't this be a default behaviour to use a KeyboardAvoidingView, which would work cross platform.

[2021-03-26 08:58] sniperosx commented on #9
Hello,
same problem here in 2021. Still having the problem (iOS & Android) that a touch of any button is first dismissing the keyboard and another click is getting to the buttons. Seems that the keyboard dismissal view is laying on top of the complete dialog.

@zzorba Did you find a workaround for this?

[2021-03-31 11:22] rastilho8 opened #96 "Background Color don't change on IOS"
## Background Color problem

I changed the background color of my dialog using contentStyle as it says in the docs. However, on android the color applies, but on iOS it doesn't. I'm doing something wrong or is it a library problem?

The code I am using is
`contentStyle={{backgroundColor: '#xxx'}}`

[2021-03-31 11:43] #96 closed

[2021-04-09 08:48] CodingByJerez commented on #76
@dapicester
#100

[2021-04-16 07:51] #76 closed

[2021-04-17 10:08] #87 closed

[2021-04-17 10:10] mmazzarolo commented on #91
I think #93 solved this issue. If it hasn't please feel free to submit a new issue (with more details on how to reproduce it, on which platform, and with a minimal reproducible example -- thanks!)

[2021-04-17 10:10] #91 closed

[2021-04-17 18:44] #74 closed

[2021-04-17 18:44] #75 closed

[2021-04-18 18:44] billnbell opened #102 "Typescript issues"
Latest version.

Property 'textInputRef' is missing in type '{ value: string | undefined; placeholder: string; onChangeText: (val: string) => void; secureTextEntry: true; }' but required in type 'DialogInputProps'.

It should not be required.

Property 'blurComponentIOS' is missing in type '{ children: Element[]; visible: boolean | undefined; }' but required in type 'DialogContainerProps'.ts(2741)

[2021-04-18 19:43] mmazzarolo commented on #102
Thanks for reporting.
Fixed in #103

[2021-04-18 19:43] #102 closed

[2021-05-12 20:09] asowers1 commented on #63
Hi, I appear to be seeing this issue above (or something like it) in Android on version 8.0.1. If I leave `autofocus` as its default false, then I can tap the input and the keyboard presents itself appropriately. Any ideas?

[2021-05-21 14:41] devWaleed opened #104 "Backdrop and description enhancements"
## Ask your Question

1. How to set opacity of back drop on Android and iOS both, I want to make it more dark as per my theme but I don't see any prop for this?
2. how to display description below the Input field. I have a scenario in which I have to display some text below Input field as error in red color. I used description but it shows above the Input field not below it.

[2021-05-21 14:43] mmazzarolo commented on #104
👋 The goal of this library is to achieve a native look and feel. At the current state, we're not looking into increasing the customization options.

[2021-05-21 14:45] mmazzarolo commented on #104
👋

Currently, you can't.

The goal of this library is to achieve a native look and feel. At the current state, we're not looking into increasing the customization options.
That said, you can create your own custom text-input by copying/editing [our own Input](https://github.com/mmazzarolo/react-native-dialog/blob/master/src/Input.tsx) component 👍

[2021-05-21 14:46] devWaleed commented on #104
Would have never used this component if I knew how mean the author is with closing 100% of the issues in just 10 minutes with no proper answers. Thank you sir.

[2021-05-21 14:49] mmazzarolo commented on #104
Sorry, didn't mean to close it, lol

[2021-05-21 14:52] devWaleed commented on #104
React Native's alert gives a more darker backdrop and this one has a much lighter backdrop...Now I can't use this plugin because this is different than that.

Further more, by showing description below or above an input field is not going to ruin the native feel.

[2021-05-21 15:13] mmazzarolo commented on #104
Can you provide the backdrop color used by the alert? Instead of making it customizable we should align our [modal's one](https://github.com/mmazzarolo/react-native-dialog/blob/2baf3f18f5a54c57991fd479e9dde3e54b74fe60/src/Modal.tsx#L15-L16) with it.

I'd say it depends 🤔 Not 100% against it, but by doing so would introduce a customization option that needs to be designed/maintained. Could you show

[2021-06-01 16:47] SimpleCreations opened #106 "Warning when using `FormattedMessage` from `react-intl` inside `Dialog.Title`"
## Environment

Any

## Platforms

Both

## Versions

- react-native-dialog: 8.0.1
- react-native: 0.64.2
- react: 17.0.2

## Description

When using `FormattedMessage` from `react-intl` as `Dialog.Title` children, everything renders as expected, while a warning appears in the console:

[code]

Perhaps `Dialog.Title` (and other components that render only text) should accept arbitrary components a

[2021-06-01 16:59] mmazzarolo commented on #106
Yeah, I think props can be updated 👍 Open to PRs!

[2021-06-30 00:49] gilhsu opened #107 "Is there a way to disable Light/Dark Mode Support?"
## Ask your Question

I'm using Dark Mode on my iPhone but don't want the Dialog container to be dark. Is there a way to disable this?

[2021-07-09 15:38] carissacks opened #111 "Hardware Back Button Handler"
## Ask your Question

Hi, first of all thank you for creating and maintaining this package. I'm currently using your package and I wonder, is it possible to have a property to handle Hardware Back Button event on Android? Like a callback function to be precise.

Thank you! Much appreciated

[2021-07-09 15:48] carissacks commented on #107
For the time being, maybe you can set the Dialog styling to match the light mode. Hope it helps

[2021-07-09 15:52] mmazzarolo commented on #111
Hola! What's stopping you from using https://reactnative.dev/docs/backhandler?

[2021-07-12 03:15] carissacks commented on #111
Sorry for the late reply. I tried using back handler in my Alert component which consists of Dialog Elements from your package, but the backAction function is not called.
I also tried to add the listener on my scene, but the action is handled only when Dialog elements are not visible

[2021-07-12 06:43] mmazzarolo commented on #111
To me, this should be the right approach. You add it to you to your scene, and then in the listener, you check if the modal is open to decide what to do with it 👍

[2021-07-12 07:23] carissacks commented on #111
Thank you for the quick reply. I was just creating my snack in expo. Do you mind taking a look at it [here https://snack.expo.io/@carissa/back-handler](https://snack.expo.io/@carissa/back-handler)?
So when I pressed the hardware back button, it's supposed to call `backAction` function. It works well when dialog is not visible, but it isn't when dialog is visible.

[2021-07-12 07:39] mmazzarolo commented on #111
Ah, you're right, it won't be triggered on modals 🤦
We should add an `onRequestClose` to the container component than to invoke the [modal's `onRequestClose`](https://reactnative.dev/docs/modal#onrequestclose) callback.
Willing to submit a PR for it? Otherwise, I can look into it when I have some free time.

[2021-07-12 07:56] ikkyu-3 commented on #107
I solved it by adding `UIUserInterfaceStyle` to `info.plist`.

[code]

https://stackoverflow.com/questions/56537855/is-it-possible-to-opt-out-of-dark-mode-on-ios-13

[2021-07-12 07:56] ikkyu-3 commented on #107
I solved it by adding `UIUserInterfaceStyle` to `info.plist`.

[code]

https://stackoverflow.com/questions/56537855/is-it-possible-to-opt-out-of-dark-mode-on-ios-13

[2021-07-12 09:48] carissacks commented on #111
Thanks for checking it out. I'll try creating one by the end of the week 🙆‍♀️

[2021-07-15 13:28] #106 closed

[2021-07-16 09:33] ssathishppm opened #113 "react native web issue"
## Environment

 Binaries:
    Node: 14.16.1 - ~/.nvm/versions/node/v14.16.1/bin/node
    Yarn: 1.22.10 - ~/.nvm/versions/node/v14.16.1/bin/yarn
    npm: 6.14.12 - ~/.nvm/versions/node/v14.16.1/bin/npm

    react: ^16.13.0 => 16.14.0
    react-native: 0.63.4 => 0.63.4

## web

    "react-native-dialog": "^8.0.1",

## Getting an issue while running the same in web. android and ios it's working.

##

[2021-07-16 10:37] mmazzarolo commented on #113
React-Native web is not supported

[2021-07-16 10:37] #113 closed

[2021-07-19 09:37] #111 closed

[2021-07-26 16:49] tolik85 commented on #96
@rastilho8 did you find a solution? Same issue on my side.

[2021-07-31 05:46] lwilli commented on #113
Is there a reason why this is not supported? Other libraries like [react-native-dialog-input](https://github.com/joseestrella89/react-native-dialog-input) support it (somewhat). `react-native-dialog` seems really nice to use, but I don't think I will use it if it won't support web at all.

[2021-07-31 08:32] mmazzarolo commented on #113
Hey @lwilli !

Yeah, two main reasons why it's not supported:

1. I haven't worked on supporting it. There weren't many requests for it (this is the first thread about it) and, when I built this library in the first place for my own goals, I didn't need to support it.
2. The goal of this library is to provide pure-JS components themed like native ones. Unfortunately, I don't think it suits well th

[2021-07-31 08:34] mmazzarolo commented on #107
Yep, @ikkyu-3's solution is the correct one IMHO (because we're following the native UI guidelines in the component)

[2021-07-31 08:34] #107 closed

[2021-07-31 08:35] mmazzarolo commented on #47
Available now thanks to #110 !

[2021-07-31 08:35] #47 closed

[2021-07-31 08:36] mmazzarolo commented on #104
Closing, haven't received an answer in > 2 months. Feel free to post here again and I'll re-open the discussion 👍

[2021-07-31 08:36] #104 closed

[2021-08-05 07:18] enigmablue opened #115 "keyboard avoiding (Android)"
Hi my keyboard is showing over the textbox for my android device . Is there an easy way for the container to be managed within keyboard avoiding view automatically?

[2021-08-06 21:22] lwilli commented on #113
Hey @mmazzarolo, thank you for your kind and helpful response! I realize my original comment may have come off as accusatory, so sorry about that! This is a great library, and I'm very new to React Native, so I'm still trying to figure it all out. 🙂 Thank you for the pointers!

[2021-08-20 00:42] josejhj2 opened #116 "iOS - Load multiple Dialogs at the same time."
Is it possible to display 2 Dialogs at the same time? ie. One on top of the other? This is working for Android but not iOS.
Example: I'm displaying a Yes/No dialog, but after inactivity I need to show a new dialog on top. When the top dialog is close, the bottom Yes/No dialog should still be there.

[2021-08-20 09:17] mmazzarolo commented on #116
Hi! Nope, it's not possible with the current implementation of React-Native's own Modal component.

[2021-08-20 09:17] #116 closed

[2021-08-23 18:10] hb-webdev opened #117 "Add ability to include images in Dialog.Description"
I was in the middle of implementing this library to show previews of the image the user just took with the camera. But I see now that `Dialog.Description` is a `Text` component. I don't see any way to include an image right now. If that's the case, can you please implement this ability? Thank you.

[2021-08-23 20:10] #117 closed

[2021-08-24 22:20] SimpleCreations opened #118 "Multiple issues with Typescript"
## Environment

Any

## Platforms

All

## Versions

- react-native-dialog: 8.2.0
- react-native: 0.64.1
- react: 17.0.2

## Description

Here are several issues I encountered when using the library with TypeScript:

1. `Dialog.Description` uses the `Text` element, however the `style` prop is declared as

        style?: ViewStyle
    and probably should be

        style?: StyleProp<TextStyle>

[2021-08-25 06:57] mmazzarolo commented on #118
Hi @SimpleCreations , thanks for reporting :)

I think fixing typings of **1** and **3** could be a good first issue if you/anyone wants to contribute.

The current behaviour for **2**, though, I think it's correct. You shouldn't render a `false` in your JSX, especially in React-Native.
So this:
[code]

Should be written like this:
[code]

(Or any similar approach to render null/undefined instead

[2021-08-25 07:03] mmazzarolo commented on #115
Hi @enigmablue.
I think on Android you'll get what you're trying to achieve by playing with the `windowSoftInputMode` in the Android XML manifest instead?

[2021-08-25 11:53] SimpleCreations commented on #118
@mmazzarolo thank you for the reply!

About **2** — it seems like `undefined` isn't allowed either:

[code]

Also, rendering `false` is supported everywhere else in React+Typescript outside of `react-native-dialog` and is mentioned in the official React docs:
https://reactjs.org/docs/conditional-rendering.html#inline-if-with-logical--operator
If it was considered a bad practice, I believe it would

[2021-08-25 12:17] mmazzarolo commented on #118
Ooops, I'm dumb.
Thought the conditional was inside a Text node, which is notorious for complaining [about almost anything you throw at it in React-Native](https://stackoverflow.com/questions/52368342/invariant-violation-text-strings-must-be-rendered-within-a-text-component).
We can/should update 2 too 👍

[2021-09-01 21:14] SimpleCreations opened #119 "[Feature request] A prop to change the value of `useNativeDriver`"
I have a scenario where a lot of work is performed while the dialog has its closing animation, and on older iOS devices this results in the animation visibly lagging, because `useNativeDriver` is set to `false` and the animation runs on the UI thread. Patching the source and setting the value to `true` makes the animation smooth.

[This line](https://github.com/mmazzarolo/react-native-dialog/blob/

[2021-09-01 23:13] SimpleCreations opened #120 "[Feature request] A boolean prop indicating to not use React Native's `Modal`"
## Ask your Question

I have a case where I need to display two modals on top of each other (#116), and as a workaround I use React Navigation to manage the stack. But due to React Native's `<Modal>`, the second modal is not rendered. I've patched the source removing `<Modal>` (and replacing it with `React.Fragment`) to avoid this issue.

Would be nice to have an option to do this using the librar

[2021-09-02 07:48] mmazzarolo commented on #120
Hi @SimpleCreations , thanks for creating the thread :)
I understand the issue, and I agree that the native modal behavior is not always convenient here.

I'm not a fan of the `coverScreen` approach though unless we also provide a way to show the modal at the root node.
My plan here is to:
1. Extract the current modal implementation into a smaller package (I've already one it) so that it can be sh

[2021-09-02 07:55] mmazzarolo commented on #119
I'm ok with that, if you're ok with creating a PR for it 👍
I'm not even 100% sure we should still default it to `false` since IIRC the RN team recently made some changes to the Modal.
FYI the issue was mostly on the Android side (on iOS, using a Modal without any `animationType` was enough to fix it).

More info here:
- https://github.com/react-native-modal/react-native-modal/issues/92
- https://g

[2021-09-08 01:53] EverStarck commented on #118
I have the same problem with the #2. To avoid a error I used a fragment to render other component inside modal. but it it's moved randomly or idk, so, in a cancel button I used the following:
[code]
I know, it's ugly but it works 🤷‍♂️

[2021-09-08 05:58] mmazzarolo commented on #118
Thanks for sharing a workaround @EverStarck.

Open for PRs fixing it in the repo btw 👍

[2021-09-08 16:42] mmazzarolo commented on #118
Closed thanks to @SimpleCreations in #121 🙌

[2021-09-08 16:42] #118 closed

[2021-09-08 16:55] #119 closed

[2021-09-08 17:12] SimpleCreations commented on #120
This sounds great 👍  However, I still think a `coverScreen` prop is very useful and maybe it's worth considering adding it without any warnings.

I personally grew fond of the approach of managing multiple dialogs with `react-navigation`.
This not only solves the issue with multiple React Native's `Modals` but also serves as a workaround for [this issue](https://github.com/software-mansion/react-n

[2021-09-08 17:28] mmazzarolo commented on #120
Yeah, since my initial reply I had a couple of chats and it will probably take a long time until we're able to truly portal a JS view on top of _any_ screen (`react-native-screens` included).
Also, the [`WindowView` approach](https://github.com/software-mansion/react-native-screens/pull/1096) is iOS only (we were waiting for it ).

So... in the meanwhile, I'm ok with `coverScreen`, if you wanna se

[2021-10-13 04:04] EverStarck opened #125 "Warning: Failed prop type: Invalid props.style key `color` supplied to `DialogInput`."
## Code
[code]

## Description

[code]

I'm using typescript, I don't know if this warning appears by it

[2021-10-14 19:52] cloudorbush opened #126 "Feat: add image"
## Ask your Question

It would be nice if we could create a native iOS dialog like so:

![image](https://user-images.githubusercontent.com/57633368/137386156-32aa811b-5df3-4280-be14-b1b180977e97.jpeg)

[2021-10-16 18:40] valdeirch opened #127 "Errors in IOS"
code:
`return (
    <View style={styles.container}>
        <Dialog.Container visible={false} useNativeDriver={true}>
        <Dialog.Title>Account delete</Dialog.Title>
        <Dialog.Description>
            Do you want to delete this account? You cannot undo this action.
        </Dialog.Description>
        <Dialog.Button label="Cancel" />
        <Dialog.Button label="Delete" />
        </Di

[2021-10-17 14:36] #127 closed, assigned to nobody

[2021-12-04 01:38] Liqiankun opened #129 "PlatformColor is not a function"

[2021-12-04 08:47] #129 closed

[2021-12-21 20:49] Corliansa opened #130 "Screen orientation forcibly changed to potrait from landscape in iOS when dialog is shown"
## Environment
System:
    OS: macOS 12.0.1
    CPU: (8) x64 Apple M1
    Memory: 25.65 MB / 8.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 14.16.1 - /usr/local/bin/node
    Yarn: 1.22.17 - /opt/homebrew/bin/yarn
    npm: 6.14.12 - /usr/local/bin/npm
    Watchman: 4.9.0 - /opt/homebrew/bin/watchman
  Managers:
    CocoaPods: 1.10.1 - /usr/local/bin/pod
  SDKs:
    iOS SDK:
      Platforms

[2022-01-07 14:57] sivakar12 opened #131 "Error when importing the module in an Expo React Native web project"
## Environment

System:
    OS: Windows 10 10.0.22000
    CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
    Memory: 1.53 GB / 7.89 GB
  Binaries:
    Node: 16.13.1 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 8.1.2 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
    Windows SDK: Not Found
  IDEs:
    Android Studio: Not Found

[2022-01-09 20:54] CCCoderDE commented on #131
+1 on this problem. ViewPropTypes is not supported anymore, it would be awesome if the project could be fixed

[2022-01-10 16:19] jacobpenny commented on #130
You can use https://reactnative.dev/docs/modal#supportedorientations-ios here since `Dialog.Container` will pass it through.
[code]

[2022-02-04 13:56] AlexandreMouyen commented on #96
And here

[2022-02-08 15:37] Calinteodor opened #132 "Dialog.Description text seems to use incorrect color in iOS"
Hey all!

I am developer from the Jitsi Meet team, an open source project that helps with instant video conferences.
Let me first say that your components gave a fresh breath of air to our internal dialogs, that, right now, look and feel more native than ever! Also, the documentation was really easy to follow.

While implementing, I noticed a slight difference between the dialog description text c

[2022-02-08 15:47] mmazzarolo commented on #132
Hey @Calinteodor ! Yeah, it's probably a mistake :)
If you could test the fix and submit a PR, that would be great, thanks!

[2022-02-22 13:41] jackdewhurst commented on #131
For anyone looking to use this on web in the meantime I created a couple of patches with [patch-package](https://www.npmjs.com/package/patch-package). Just install patch-package with npm, add the two files below to a `/patches` directory then `npm install`

**/patches/react-native-dialog+9.2.0.patch**
[code]

**react-native-web+0.16.3.patch**
[code]

Works well so far:

<img width="947" alt="Scree

[2022-02-22 15:12] mmazzarolo commented on #131
Hey all! Given that we're on TypeScript now I think we can also safely remove the PropTypes references from the repo.
Anyone willing to give it a try with a PR?

[2022-03-02 18:20] Borna-f opened #134 "fullscreen?"
Hello,
Thank you for your great library. Does your library support fullscreen? I tried to do

[2022-03-02 18:45] Borna-f commented on #134
I think the problem residers in Conainer.js where you do

[code]

Is there a way to avoid that? Or can you add a fullscreen option/prop?

[2022-03-03 22:50] xiic commented on #63
Having this issue on Android 7.1.2 as well. Only appears on some devices, and only sometimes. But once it occurs, there is no way to show the keyboard anymore (for Dialog.Input). The only thing that helps, is to terminate and restart the app.

Version: 9.2.1

[2022-03-10 09:04] pc-plhm commented on #131
Hello,
Thanks for the patch, It works for react-native-dialog but I get a parsing error when patching react-native-dialog.

**ERROR** Failed to apply patch for package react-native-web
  This happened because the patch file patches/react-native-web+0.16.3.patch could not be parsed.

I am running "react-native-web": "0.17.1"

[2022-03-30 21:17] domoretrix opened #135 "Is separator border removable?"
## Is there a way to remove the horizontal hairline width separator border?
<img width="207" alt="Screen Shot 2022-03-31 at 12 11 24 AM" src="https://user-images.githubusercontent.com/34522983/160932283-7a464461-bbbc-4f15-9e8f-2a3932992afd.png">

[2022-03-31 07:57] mmazzarolo commented on #135
If I may ask: why? Doesn't the native iOS dialog show it? 🤔

[2022-03-31 08:05] domoretrix commented on #135
It does show it, that’s the problem, I want it off. I have to make the alert view look as one whole unseparated view. I’ve tried playing with borderTopWidth and borderBottomWidth in headerStyle and footerStyle, but no luck. I haven’t looked through your code but as far it seems like it’s part of a different component that I have no access to its style. That’s why I’m asking.

[2022-04-01 15:54] mmazzarolo commented on #135
What I'm saying is: does the native iOS dialog (not the one from `react-native-dialog`) show it?
I'm asking this because the goal of this component is to mimic the native dialog, allowing only the minimum surface area for customization. At the moment, I don't think there's an easy way to customize the border, but if the native iOS dialog does not show it, we can update `react-native-dialog` to do

[2022-04-01 16:07] domoretrix commented on #135
Yes, the native iOS does show the horizontal border. Ya, I mean it would be nice if it could be customized in this sense. At least in my case ...

[2022-04-02 16:57] mmazzarolo commented on #135
Gotcha. Sorry, but for the time being I prefer to not expand the API.

[2022-04-02 16:57] #135 closed

[2022-04-07 06:05] billnbell opened #136 "ViewPropTypes is deprecated."
Getting warning. ViewPropTypes is deprecated.  Switch to:

import {ViewPropTypes} from 'deprecated-react-native-prop-types';

[2022-04-07 07:48] mmazzarolo commented on #132
Fixed in #133

[2022-04-07 07:48] #132 closed

[2022-04-07 07:49] mmazzarolo commented on #136
Let's discuss it here #131

[2022-04-07 07:49] #136 closed

[2022-04-07 07:49] mmazzarolo commented on #131
Bumping:

Anyone willing to give it a try with a PR?

[2022-04-07 17:30] billnbell commented on #131
Yes please remove it :)

[2022-04-12 04:59] jzxchiang1 opened #137 "Support statusBarTranslucent"
Just need to add `statusBarTranslucent` as a configurable prop here:

https://github.com/mmazzarolo/react-native-dialog/blob/dd6d979279b22ad869d95ba530a1e9cd1fc1601b/src/Modal.tsx#L191

Otherwise, Android apps will look a little strange if their status bar is indeed translucent...

[2022-04-15 11:45] FrancescoBonizzi commented on #9
Same problem here in 2022

[2022-04-20 09:01] nephix opened #138 "Allow children for Dialog.Button"
## Ask your Question

Does it make sense to extend `<Dialog.Button />` to render `children`? My use case is that I e.g. display a confirmation dialog. Once the user presses "Ok" I want to disable the button (already possible) and display a loading indicator:

[code]

with the current implementation via `label` this is not possible.

[2022-04-21 10:55] #130 closed

[2022-04-28 10:00] mmazzarolo commented on #131
Hey all, there's a PR here https://github.com/mmazzarolo/react-native-dialog/pull/139
Anyone willing to give it a try and help? :)

[2022-05-04 09:25] GunnarAK commented on #134
Why not use a regular modal that ships with RN instead?

[2022-05-10 20:42] Slapbox commented on #107
@mmazzarolo is there any plan to allow overriding dark/light modes?

For example, if a user uses an app with dark mode, but at the system level uses light mode, then the dialogs that appear are not themed as the user would prefer/to match the app - and then you have light dialogs over dark screens.

[2022-05-10 21:14] Slapbox commented on #96
@rastilho8 if you found a solution for this please share it - otherwise would you please re-open the issue?

[2022-05-10 23:29] Slapbox opened #140 "Buttons appear stacked on Android (expected side by side)"
## Environment

[code]

## Platforms

Android (iOS untested)

## Versions

- Android: 12
- iOS: N/A
- react-native-dialog: 9.2.1
- react-native: 0.68.1
- react: 17.0.2

## Description

Buttons appear stacked, despite plenty of room to display side by side:

![image](https://user-images.githubusercontent.com/6835891/167740905-b3710180-e121-4768-823b-0eabc60e9af2.png)

[2022-05-10 23:31] Slapbox opened #141 "Allow further customization by allowing component replacement"
## Ask your Question

I'm trying to implement custom styles for when users use dark/light mode and the system is set to the opposite color scheme - but I've hit a wall with trying to style the inputs. Is there any way to modify the text color of the labels? Right now we have black on dark gray, but would like to change that to white without having to fork the entire package to do it.

![image](htt

[2022-05-10 23:46] Slapbox commented on #140
`verticalButtons` `true/false` on `Container` makes no difference.

[2022-05-11 00:53] Slapbox commented on #141
I think that a simpler approach may be to allow users to pass in their own `Text` or `Input` components or what have you. That way the API surface could be minimized and users could have complete control. It should be easy to allow that. Would you be open to a PR for that @mmazzarolo?

[2022-05-11 01:03] Slapbox commented on #137
@jzxchiang1 try passing `transparent={false}` to `Dialog.Container`. Unless I'm reading the code wrong, that should get applied like you want.

[2022-05-11 01:09] Slapbox commented on #140
The styles that are being applied by default are the same as the ones that used to work for us in a forked version of this library we used internally, just applied with React Native Stylesheets instead of Emotion. I really cannot figure out why this might not be working, but it isn't.

[2022-05-11 02:18] Slapbox commented on #140
It works fine in an Expo Snack so clearly this is some bug in our code, though I cannot imagine what.

[2022-05-11 02:18] #140 closed

[2022-05-11 11:06] mmazzarolo commented on #141
@Slapbox Yeah, I also prefer letting user pass down theit own component... which, technically you can already do. The container allows you to pass down any component (but it does some checks on the component name/type [to determine the style](https://github.com/mmazzarolo/react-native-dialog/blob/0df53e3ff7285ccf8bd3c1657a71d92405cba17f/src/Container.tsx#L63))

[2022-05-11 19:51] Slapbox commented on #141
Thanks for your reply @mmazzarolo!

I hadn't thought to customize as you've mentioned, but that makes sense! I was thinking about a slightly different implementation that would allow users to benefit from your hard work more, with less custom code required for end users.

For example, users could pass their own custom input to `Dialog.Input` in a file in their project and then re-export their cust

[2022-05-11 19:51] Slapbox commented on #137
It works for us. I believe this can be closed.

[2022-05-11 22:37] Slapbox commented on #141
@mmazzarolo how does that switch statement you linked to actually work? In the debugger the values of `DialogTitle`, `DialogButton` etc are undefined, but the code works? I'm not that well versed in TypeScript; is this some magic I'm overlooking? I've tried implementing custom components in line with your suggestion but I can't get them to end up anywhere other than [`otherChildrens`](https://gith

[2022-05-12 09:00] mmazzarolo commented on #137
Yup. Thanks @Slapbox !

[2022-05-12 09:00] #137 closed

[2022-05-12 09:35] mmazzarolo commented on #141
Yeah. That totally makes sense to me, and it's something I thought about in the past. I just wasn't able to find a nice API to suit this use case.
I'm doing something similar in: https://github.com/mmazzarolo/react-native-modal-datetime-picker
I'm open to suggestions on the API level and on how to actually implement it.
(Please notice that it's very difficult for me to work on RN lately :/, I'm su

[2022-05-12 19:24] Slapbox commented on #141
Unfortunately yes, as it breaks the side-by-side buttons on Android. If not for that, it would be entirely workable.

That looks interesting! We'll probably end up using it!

Since you already have implemented a similar API, but you say you weren't able to find a nice API for this use case for `react-native-dialog`, I wonder what your concerns were with implementing something like that in this pro

[2022-05-12 19:35] Slapbox commented on #141
Actually, I'm thinking I screwed up yesterday in my testing of whether setting `isDark` works. I think it will work, but passing it as a prop might be a bit messy messy since `useTheme` returns its own `isDark` value too.

[2022-05-12 20:01] Slapbox commented on #141
Nope, unfortunately something else seems to be at issue. Maybe you can tell what?

![image](https://user-images.githubusercontent.com/6835891/168158048-b718c031-7dd1-4b60-b869-ec23a32633c7.png)

![image](https://user-images.githubusercontent.com/6835891/168158102-76050a1f-dc3e-4717-a629-dbd882aa3c17.png)

I made a branch on my fork with the code changes I thought would be necessary for supporting

[2022-06-02 00:18] Slapbox commented on #141
Is there any way around our buttons ending up in `otherChildren` until I can figure out how to force `isDark` and submit a PR for that? I tried setting the component's `displayName` to "DialogButton" to match [this line](https://github.com/mmazzarolo/react-native-dialog/blob/0df53e3ff7285ccf8bd3c1657a71d92405cba17f/src/Button.tsx#L64) but it doesn't have any effect and I'm not sure why. I'd expect

[2022-06-03 14:56] mmazzarolo commented on #141
Hola @Slapbox !
Are you saying that adding the `displayName` like we're doing [here](https://github.com/mmazzarolo/react-native-dialog/blob/0df53e3ff7285ccf8bd3c1657a71d92405cba17f/src/Button.tsx#L64) is not working for you?
That's weird 🤔
I'm fine with accepting more

I'm fine with making that flow customizable though.
I would recommend doing it like this:
1. Extract the function we're currently

[2022-06-06 19:46] Slapbox commented on #141
Thanks for your reply! I think that makes sense!

The only this that doesn't make sense to me is that adding `displayName` didn't have the desired effect. I don't see any problems with the logic - but the components I passed would always end up in `otherChildrens` anyway.

The best solution, in my view, would be if this worked as it apparently should. I wondered if it might somehow be related to t

[2022-06-06 21:53] Slapbox commented on #141
It looks like this code would work. The only changes here are to add `.displayName` to the end of `child.type` and to the end of each `case ...` line

What do you think about this approach? Would you accept a PR for it? It would keep the API simpler than the other approaches we discussed. Still not sure how

[code]

That would resolve the primary issue we were facing. It would leave the issue of c

[2022-06-07 07:07] mmazzarolo commented on #141
Generally, I'm not a fan of merging things without knowing why/how they work...
That said, I think I just noticed the issue: we're comparing the component type as a strict reference, which won't work for your own custom components. Meaning we're basically doing this: `child.type === DialogTitle`. Where `DialogTitle` is react-native-dialog's component, so it will never be true for your own custom c

[2022-06-07 07:19] mmazzarolo commented on #141
And thanks so much for keeping up with the discussion 👍
Regarding the TextInput issue, I would prefer fixing the color styling directly within react-native-dialog (following #105, I guess) -- otherwise any tiny change we'll do to the TextInput component might become a breaking change if we allow customizing it that way. If you're in hurry for the `DialogInput` styling, you can either pass down the

[2022-06-09 00:29] Slapbox commented on #141
@mmazzarolo thanks for your knowledge in this discussion and all the hard work you've done. I've submitted a PR for the `.displayName` change here: #143.

I understand the desire not to complicate things with allowing custom components to be passed. I think what I'll likely end up doing is forking the repo and adding our own changes to support a custom `DialogInput` there so we can easily keep up

[2022-06-09 06:02] mmazzarolo commented on #141
@Slapbox after thinking about it a bit more, I agree with your point. I think it's fine to "temporarily" support the customization of stuff we can't automatically customize yet.
I'm OK with making the label and switch style customizable, as long as 1) we clearly state in the README that it's just a temporary workaround until we can fix the dark theming and 2) we name them something like `customLab

[2022-06-09 20:22] Slapbox commented on #141
Yup, will do! It might be a few days or even a bit longer before I can get it done, but it's on my list along with fixing #143.

What  do you think of the naming convention, `unstableLabelStyle` or `unstable_labelStyle`?

[2022-06-10 08:04] mmazzarolo commented on #141
I'm fine either way 👍

[2022-07-15 15:17] ColeTownsend commented on #9
Same thing here, I might code in a keyboard listener. Hacky but its the only idea I have.

[2022-08-19 00:22] Slapbox opened #146 "Needs to be upgraded to use deprecated-react-native-prop-types"
0.69 breaks this library.

PS @mmazzarolo I didn't forget about the other incomplete PRs I still owe you!

[2022-08-19 01:46] Slapbox commented on #146
Listing specific changes needed:

- Import `ViewPropTypes` `deprecated-react-native-prop-types` instead of `react-native`
-  `style: (Text as any).propTypes.style` - Unknown how to update this properly

[2022-08-20 06:22] mmazzarolo commented on #146
Hello hello @Slapbox !
I'm also not familiar with any new React-Native-specific prop (nor with newer React-Native versions in general 😓).
I'm fine with any approach that solves the current incompatibility, even if it means making the prop typing more flexible — we can then create follow-up GitHub issues about known potential improvements.
Thank you!

[2022-09-27 20:29] tyrauber opened #147 "Testing Dialog.Button onPress in 9.2.2"
## Environment

    "expo": "~46.0.9",
    "react": "18.0.0",
    "react-native": "0.69.5",
    "react-native-dialog": "^9.2.2",

## Platforms

Jest Test Suite.

## Description

In react-native-dialog v9.1.2, it was possible to test whether a dialog was submitted by using jest.spyOn on the Dialog.Button.propTypes.

[code]

With the propTypes changes for react-native 0.69.5 - Thank you for that! -

[2022-09-27 21:14] tyrauber commented on #147
Closing.  Just restructured to test further upstream around the onPress action.

[2022-09-27 21:14] #147 closed

[2022-09-28 12:07] mr-ryan-james commented on #96
https://github.com/mmazzarolo/react-native-dialog/issues/95#issuecomment-802100610

[2022-10-03 02:49] Brenosalv opened #148 "Allow to change fade time when dialog container is closed"
## New prop request

The fade time when dialos container is closed is slow. I would like to change this time but apparently there is no prop for it.

[2022-10-04 14:56] mmazzarolo commented on #148
👋 Hey! The goal of this library is to achieve a native look and feeling. At the current state we're not looking into increasing the customization options. If you think the fade timing doesn't match the native counterpart, feel free to submit a new PR. Thanks!

[2022-10-04 14:56] #148 closed

[2022-10-25 08:19] forimbajosh21 opened #149 "Dialog buttons does not have equal width"
## Environment

[code]

## Platforms

## Versions

- Android: N/A
- iOS: 16.0
- react-native-dialog: 9.2.2
- react-native: 0.70.3
- react: 18.1.0

## Description

- Buttons do not have equal width when another label is shorter
<img width="356" alt="image" src="https://user-images.githubusercontent.com/13961267/197721261-faa45533-360b-47cd-aa37-0e2400bc9f73.png">

## Reproducible Demo

[2022-10-25 08:52] mmazzarolo commented on #149
Ha, good catch! Open for contribution for this issue :)

[2022-10-30 00:06] Slapbox commented on #146
Obsolete before I even made the issue! Fixed by #139.

[2022-10-30 00:06] #146 closed

[2022-10-30 00:06] Slapbox commented on #141
This can be closed once #150 is reviewed and merged.

[2022-10-31 08:40] #141 closed

[2022-11-11 21:33] kingajohanna commented on #149
just add the width: "50%" to the buildStyles in the button.js file

`const buildStyles = (isDark) => StyleSheet.create({
    button: Platform.select({
        ios: {
            flexGrow: 1,
            flexShrink: 1,
            height: 46,
            width: '50%',
            justifyContent: "center",
            alignItems: "center",
        },`